<!DOCTYPE html>
<html>
  <head>
    <title>PrawnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller-name='<%= controller_name %>'
        data-controller-action='<%= action_name %>'>
    
    <%= turbo_stream_from [current_user, :info] %>
    
    <%= render 'shared/navbar' %>
    
    <div id="service-section">
      <%= render 'shared/flash' %>
    </div>
      
    <%= render 'shared/flash' %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
